{
    "tabWidth": 4,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "singleQuote": true,
    "semi": false,
    "overrides": [
        {
            "files": "*.scss",
            "options": {
                "singleQuote": false
            }
        }
    ]
}