<footer class="footer">
    <div class="footer__container">
        <div class="body-footer footer__body">
            <div class="about body-footer__about">
                <h3 class="footer-title about__title">About</h3>
                <div class="text about__text">
                    <p>Our services go beyond the basic services reenergize your home.</p>
                </div>
                <form action="#" class="about__form">
                    <input type="text" name="email" data-required="email" placeholder="Enter your email address" class="about__input">
                    <button type="submit" class="about__button">
                        <svg>
                            <use href="@content/icons/sprite.svg#send"></use>
                        </svg>
                    </button>
                </form>
            </div>
            <div data-spollers="480, max" class="column-footer body-footer__column">
                <button data-spoller type="button" class="footer-title column-footer__title">Links</button>
                <ul class="column-footer__list">
                    <li class="column-footer__item">
                        <a href="#" class="text column-footer__link">About</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" class="text column-footer__link">Our Services</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" class="text column-footer__link">Team Members</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" class="text column-footer__link">Our Gallery</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" class="text column-footer__link">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div data-spollers="480, max" class="column-footer body-footer__column">
                <button data-spoller type="button" class="footer-title column-footer__title">Services</button>
                <ul class="column-footer__list">
                    <li class="column-footer__item">
                        <a href="#" class="text column-footer__link">Pressure Washing</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" class="text column-footer__link">House Washing</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" class="text column-footer__link">Wood Restoration</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" class="text column-footer__link">Paver Sealing</a>
                    </li>
                </ul>
            </div>
            <div class="news body-footer__news">
                <h3 class="footer-title news__title">News</h3>
                <div class="news__items">
                    <article class="item-news news__item">
                        <a href="#" class="item-news__image-ibg">
                            <img data-src="@content/img/news/news01.jpg" alt="News">
                        </a>
                        <div class="item-news__body">
                            <div class="item-news__date">June 16, 2020</div>
                            <a href="#" class="item-news__title"><h3>We wash all types of windows</h3></a>
                        </div>
                    </article>
                    <article class="item-news news__item">
                        <a href="#" class="item-news__image-ibg">
                            <img data-src="@content/img/news/news02.jpg" alt="News">
                        </a>
                        <div class="item-news__body">
                            <div class="item-news__date">June 16, 2020</div>
                            <a href="#" class="item-news__title"><h3>We wash all types of windows</h3></a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="info-footer footer__info">
            <a href="index.html" class="logo info-footer__logo">
                <img src="@content/svg/logo.svg" alt="Cleaning Services">
            </a>
            <div class="socials info-footer__socials">
                <a href="#" class="socials__icon">
                    <svg>
                        <use href="@content/icons/sprite.svg#facebook"></use>
                    </svg>
                </a>
                <a href="#" class="socials__icon">
                    <svg>
                        <use href="@content/icons/sprite.svg#twitter"></use>
                    </svg>
                </a>
                <a href="#" class="socials__icon">
                    <svg>
                        <use href="@content/icons/sprite.svg#instagram"></use>
                    </svg>
                </a>
                <a href="#" class="socials__icon">
                    <svg>
                        <use href="@content/icons/sprite.svg#linkedin"></use>
                    </svg>
                </a>
            </div>
            <div class="info-footer__copy">
                <div style="color:#000;font-family:sans-serif;white-space: nowrap;">Вёрстка <a href="https://nikkeyl.github.io/nikkeyl" style="color:#80f;text-decoration:underline">Никита Алманов</a></div>
            </div>
        </div>
    </div>
</footer>