<header data-lp class="header">
    <div class="header__container">
        <!-- LOGO -->
        <a href="index.html" class="logo header__logo">
            <img src="@content/svg/logo.svg" alt="Cleaning Services">
        </a>
        <!-- HEADER MENU -->
        <div class="menu header__menu">
            <nav class="menu__body">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="#" aria-label="Link to navigate the site" data-goto-header data-goto=".home" class="menu__link">Home</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" aria-label="Link to navigate the site" data-goto-header data-goto=".choose" class="menu__link">About</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" aria-label="Link to navigate the site" data-goto-header data-goto=".services" class="menu__link">Services</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" aria-label="Link to navigate the site" data-goto-header data-goto=".clients" class="menu__link">Testimonials</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="actions header__actions">
            <div class="item-action actions__item-action">
                <a href="tel:12434214121" class="item-action__icon">
                    <svg>
                        <use href="@content/icons/sprite.svg#call"></use>
                    </svg>
                </a>
                <div class="item-action__boby">
                    <div class="item-action__title">Call us now</div>
                    <a href="tel:12434214121" class="item-action__phone">+1 (243) 421 4121</a>
                </div>
            </div>
            <button aria-label="Open menu" type="button" class="icon-menu actions__icon">
                <span class="icon-menu__line"></span>
            </button>
        </div>
    </div>
</header>