/* BUTTON */
.button {
    $icon: 0;
    $fw: 0;

    display: inline-flex;
    justify-content: center;
    border-radius: rem(4);
    padding: rem(18) rem(40);
    font-size: rem(16);
    line-height: math.div(20, 16);
    text-align: center;
    text-transform: capitalize;
    color: $color-light;
    background-color: $color-blue;
    transition: all 0.3s ease;

    &::before {
    }

    &::after {
    }

    &:link {
    }

    &:visited {
    }

    &:focus {
        background-color: $color-green;
    }

    &:active {
        transform: translateY(rem(3));
    }

    &:disabled {
    }

    @if $icon == 1 {
        span {
            padding: 0 rem(30) 0 0;
            background: url("@content") left no-repeat;
        }
    }

    @if $fw == 1 {
        &--fw {
            width: 100%;
        }
    }

    @media (any-hover: hover) {
        &:hover {
            background-color: $color-green;
        }
    }
}
