/* HEADER MENU */
.menu {
    &__body {
        @media (max-width: md(815)) {
            @include wh(100%, 100%);

            position: fixed;
            left: -100%;
            top: 0;
            z-index: 4;
            overflow: auto;
            padding: rem(100) rem(15) rem(30);
            background-color: $color-light;
            transition: all 0.3s ease;

            &::before {
                @include pseudo($position: fixed);
                @include adaptive-value("height", 82, 57, 815, 320, 1);

                left: -100%;
                top: 0;
                z-index: 4;
                width: 100%;
                background-color: $color-light;
                transition: left 0.3s ease;
            }

            .menu-open & {
                left: 0;

                &::before {
                    left: 0;
                }
            }
        }
    }

    &__icon-menu {
        @media (max-width: md(815)) {
        }
    }

    &__item {
        @media (max-width: md(815)) {
        }
    }

    &__link {
        line-height: 100%;
        color: rgb(34 35 38 / 80%);
        transition: all 0.3s ease;

        @media (max-width: md(815)) {
            $font-size: 25;

            font-size: rem($font-size);
        }

        @media (any-hover: hover) {
            &:hover {
                color: #222326;
            }
        }
    }

    &__list {
        @include adaptive-value("column-gap", 36, 15, 1920, 768, 1);

        display: flex;
        flex-wrap: wrap;
        row-gap: rem(10);

        @media (max-width: md(815)) {
            flex-direction: column;
            align-items: center;
            row-gap: rem(20);
        }
    }
}
